body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  color: #ffffff;
  padding: 10px;
  font-weight: bolder;
}
.header h1 {
  font-size: 3rem;
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
/* CSS for ith contact container */
.list-group-item {
  background-color: rgba(185, 225, 247, 0.853) !important;
  color: #000000 !important;
}
.name h3 {
  font-size: 1.4rem;
  text-align: left;
  font-weight: bolder;
  color: #002f52;
}
.email {
  font-size: 1.1rem;
  text-align: left;
  color: #4e2a81;
}
.phone {
  font-size: 1.1rem;
  text-align: left;
}
.hide h4 {
  font-weight: bolder !important;
}
/* CSS for modal */
.modal-content {
  background-color: rgb(168, 168, 168) !important;
  color: #000000 !important;
}
.modal-content input {
  background-color: rgba(210, 210, 210, 0.607) !important;
  color: #0e0e0e !important;
  font-size: large;
}
.col-form-label {
  font-weight: bolder;
}
/* CSS for responsive */
@media screen and (max-width: 768px) {
  .name h3,
  .email,
  .phone {
    text-align: center;
  }
  .hide {
    display: none !important;
  }
}
